<p>Add Customer!</p>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.id" />
  <div class="form-group">
    <label>First NAME</label>
    <input name="firstName" #FirstName="ngModel" [(ngModel)]="service.formData.firstName"
           class="form-control form-control-lg" placeholder="First Name" required
           [class.invalid]="FirstName.invalid &#038;&#038; FirstName.touched">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input name="lastName" #LastName="ngModel" [(ngModel)]="service.formData.lastName"
           class="form-control form-control-lg" placeholder="Last Name" required maxlength="16"
           minlength="1" [class.invalid]="LastName.invalid &#038;&#038; LastName.touched">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input name="email" #Email="ngModel" [(ngModel)]="service.formData.email"
           class="form-control form-control-lg" placeholder="Email" required maxlength="54"
           minlength="1" [class.invalid]="Email.invalid &#038;&#038; Email.touched">
  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input name="phoneNumber" #PhoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber"
           class="form-control form-control-lg" placeholder="Phone Number" required maxlength="13"
           minlength="10" [class.invalid]="PhoneNumber.invalid &#038;&#038; PhoneNumber.touched">
  </div>
  <div class="form-group">
    <label>Status</label>
    <select name="status" #Status="ngModel" [(ngModel)]="service.formData.status" class="form-control form-control-lg custom-select">
      <option value="" disabled>Choose Status</option>
      <option>Active</option>
      <option>In Active</option>

    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>

</form>
