<h1 id="tableLabel">List of all Customers</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!contactsAll"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contactsAll">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cus of contactsAll">
      <td>{{ cus.id }}</td>
      <td>{{ cus.firstName }}</td>
      <td>{{ cus.lastName }}</td>
      <td>{{ cus.email }}</td>
      <td>{{ cus.phoneNumber }}</td>
      <td>{{ cus.status }}</td>
    </tr>
  </tbody>
</table>
